# Universidad del Valle de Guatemala
18 Avenida 11-95 Guatemala      
Departamento de Computación     
Facultad de Ingeniería       
Minería de Datos Sección 10         
Fecha de entrega: 29/01/2024        

Grupo 1 | Integrantes:
- Diego Alexander Hernández Silvestre 21270
- Linda Inés Jimenez Vides 21169
- Mario Antonio Guerra Morales 21008
- Kristopher Javier Alvarado Lopez 21188
- David Jonathan Aragon Vasquez 21053

## Proyecto 1
Para realizar una exploración inicial del conjunto de datos, se prodeció a realizar un resumen de la información proporcionada en el dataset del archivo "*owid-co2-data.csv*". A continuación se muestran los resultados:

In [2]:
import pandas as pd
from typing import *

In [8]:
dataframe: pd.DataFrame = pd.read_csv("owid-co2-data.csv",  encoding='ISO-8859-1')
infoSumary = dataframe.info() #Mostrar información del tipo de variables utilizadas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48058 entries, 0 to 48057
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    48058 non-null  object
 1   year                                       48058 non-null  int64
 2   iso_code                                   39717 non-null  object
 3   population                                 39495 non-null  float64
 4   gdp                                        14564 non-null  float64
 5   cement_co2                                 23764 non-null  float64
 6   cement_co2_per_capita                      22017 non-null  float64
 7   co2                                        30308 non-null  float64
 8   co2_growth_abs                             28157 non-null  float64
 9   co2_growth_prct                            25136 non-null  float64
 10  co2_including_luc                          23320 non-null  float64
 11  co2_including_luc_growth_abs               23030 non-null  float64
 12  co2_including_luc_growth_prct              23313 non-null  float64
 13  co2_including_luc_per_capita               23320 non-null  float64
 14  co2_including_luc_per_gdp                  15608 non-null  float64
 15  co2_including_luc_per_unit_energy          9608 non-null   float64
 16  co2_per_capita                             26600 non-null  float64
 17  co2_per_gdp                                16290 non-null  float64
 18  co2_per_unit_energy                        10241 non-null  float64
 19  coal_co2                                   25075 non-null  float64
 20  coal_co2_per_capita                        24389 non-null  float64
 21  consumption_co2                            4718 non-null   float64
 22  consumption_co2_per_capita                 4365 non-null   float64
 23  consumption_co2_per_gdp                    3899 non-null   float64
 24  cumulative_cement_co2                      23681 non-null  float64
 25  cumulative_co2                             28495 non-null  float64
 26  cumulative_co2_including_luc               23320 non-null  float64
 27  cumulative_coal_co2                        24992 non-null  float64
 28  cumulative_flaring_co2                     24909 non-null  float64
 29  cumulative_gas_co2                         25000 non-null  float64
 30  cumulative_luc_co2                         37022 non-null  float64
 31  cumulative_oil_co2                         25028 non-null  float64
 32  cumulative_other_co2                       2593 non-null   float64
 33  energy_per_capita                          10061 non-null  float64
 34  energy_per_gdp                             7159 non-null   float64
 35  flaring_co2                                24992 non-null  float64
 36  flaring_co2_per_capita                     24261 non-null  float64
 37  gas_co2                                    25083 non-null  float64
 38  gas_co2_per_capita                         24352 non-null  float64
 39  ghg_excluding_lucf_per_capita              6354 non-null   float64
 40  ghg_per_capita                             6354 non-null   float64
 41  land_use_change_co2                        37022 non-null  float64
 42  land_use_change_co2_per_capita             36313 non-null  float64
 43  methane                                    6355 non-null   float64
 44  methane_per_capita                         6355 non-null   float64
 45  nitrous_oxide                              6355 non-null   float64
 46  nitrous_oxide_per_capita                   6355 non-null   float64
 47  oil_co2                                    25111 non-null  float64
 48  oil_co2_per_capita                         24380 non-null  float64
 49  other_co2_per_capita                       2447 non-null   float64
 50  other_industry_co2                         2593 non-null   float64
 51  primary_energy_consumption                 10103 non-null  float64
 52  share_global_cement_co2                    20208 non-null  float64
 53  share_global_co2                           28495 non-null  float64
 54  share_global_co2_including_luc             23320 non-null  float64
 55  share_global_coal_co2                      24992 non-null  float64
 56  share_global_cumulative_cement_co2         20208 non-null  float64
 57  share_global_cumulative_co2                28495 non-null  float64
 58  share_global_cumulative_co2_including_luc  23320 non-null  float64
 59  share_global_cumulative_coal_co2           24992 non-null  float64
 60  share_global_cumulative_flaring_co2        16129 non-null  float64
 61  share_global_cumulative_gas_co2            22156 non-null  float64
 62  share_global_cumulative_luc_co2            37022 non-null  float64
 63  share_global_cumulative_oil_co2            23513 non-null  float64
 64  share_global_cumulative_other_co2          2593 non-null   float64
 65  share_global_flaring_co2                   16129 non-null  float64
 66  share_global_gas_co2                       22156 non-null  float64
 67  share_global_luc_co2                       37022 non-null  float64
 68  share_global_oil_co2                       23513 non-null  float64
 69  share_global_other_co2                     2593 non-null   float64
 70  share_of_temperature_change_from_ghg       41724 non-null  float64
 71  temperature_change_from_ch4                37620 non-null  float64
 72  temperature_change_from_co2                41724 non-null  float64
 73  temperature_change_from_ghg                41724 non-null  float64
 74  temperature_change_from_n2o                37620 non-null  float64
 75  total_ghg                                  6354 non-null   float64
 76  total_ghg_excluding_lucf                   6354 non-null   float64
 77  trade_co2                                  4398 non-null   float64
 78  trade_co2_share                            4397 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 29.0+ MB

In [7]:
dataframe.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_luc_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'share_of_temperature_change_from_ghg',
       'temperature_change_from_ch4', 'temperature_change_from_co2',
       'temperature_change_from_ghg', 'temperature_change_from_n2o',
       'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2',
       'trade_co2_share'],
      dtype='object')

In [6]:
dataframe.describe()

,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
count,48058.000000,3.949500e+04,1.456400e+04,23764.000000,22017.000000,30308.000000,28157.000000,25136.000000,23320.000000,23030.000000,...,2593.000000,41724.000000,37620.000000,41724.000000,41724.000000,37620.000000,6354.000000,6354.000000,4398.000000,4397.000000
mean,1926.842565,6.083223e+07,2.677586e+11,9.109400,0.066798,391.272161,5.868310,20.055703,534.225708,7.445587,...,19.199870,2.190116,0.002956,0.006886,0.010069,0.000497,790.430981,759.384745,-7.157874,20.368010
std,59.414846,3.285867e+08,2.103151e+12,66.463548,0.125367,1855.824655,59.845871,687.366449,2164.644277,97.593192,...,33.432368,9.012474,0.016068,0.039698,0.057196,0.002943,3610.534250,3531.641287,269.156220,52.720717
min,1750.000000,2.220000e+02,4.998000e+07,0.000000,0.000000,0.000000,-2032.366000,-100.000000,-187.847000,-2334.695000,...,0.000000,-0.899000,-0.001000,0.000000,-0.001000,0.000000,-186.660000,0.010000,-2367.758000,-99.795000
25%,1883.000000,3.464375e+05,7.516679e+09,0.000000,0.000000,0.183000,0.000000,-0.733500,5.950750,-0.752750,...,0.249000,0.003000,0.000000,0.000000,0.000000,0.000000,8.450000,7.042500,-3.024750,-6.287000
50%,1930.000000,2.456362e+06,2.597999e+10,0.029000,0.008000,3.856000,0.026000,3.749500,27.777000,0.071000,...,1.431000,0.071000,0.000000,0.000000,0.000000,0.000000,38.285000,30.830000,1.478500,8.741000
75%,1976.000000,1.008038e+07,1.132942e+11,0.834000,0.093000,47.277250,0.873000,10.593500,124.373750,2.568500,...,19.405000,0.329000,0.001000,0.001000,0.001000,0.000000,153.595000,131.512500,9.124000,32.512000
max,2022.000000,7.975105e+09,1.136302e+14,1692.404000,2.574000,37149.785000,1813.064000,102318.508000,41637.617000,2340.859000,...,100.000000,100.000000,0.415000,1.113000,1.611000,0.083000,49880.602000,48089.621000,2187.777000,576.482000